body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edfcfd;
    font-family: "poppins-regular", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: content-box;
    color: #5b5b5c;

}

.navBarAdmin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #213447;
    color: white;
    font-size:1.7rem;
    margin-bottom: 2%;
}

.logoNavAdmin img{
    width: 20%;
}

.navBarAdmin_right {
display: flex;
}

button {
    background-color: #213447;
    border: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    margin-bottom: 2%;
    font-size: 1.5rem;

}

table {
    border-collapse: collapse;
    background-color: #f5f5f5;
}

thead td {
    background-color: #213447;
    text-align: center;
    color: #fff;
}

table, td {
    margin: 2% auto 0;
    border: 1px solid #acabab;
}

th, td {
    padding: 8px;
    text-align: left;
}

.taille {
    width: 50px;
    height: 60px;
}

.formUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.formUpdate .left-column {
    padding-right: 20px;
    width: 320px;
}

.taille2 {
    width: 300px;
    height: 350px;
}


.formUpdate .right-column {
    padding-left: 20px;
    width: 820px;

}


.formUpdate form {
    display: flex;
    width: 100%; 
}


.formUpdate .form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.formUpdate .form {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.formUpdate .form div {
    margin-bottom: 15px;
    width: 100%;
}

.formUpdate label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.formUpdate input[type="text"],
.formUpdate input[type="date"],
.formUpdate select,
.formUpdate textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button.ajouter, button.retour {
    padding: 10px 20px;
    background-color: #213447;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.ajouter:hover, button.retour:hover {
    background-color: #218838;
}
