.navBarAdmin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #213447;
    color: white;
    font-size:1.7rem;
    margin-bottom: 2%;
}

.logoNavAdmin img{
    width: 31%;
}

.navBarAdmin_right {
display: flex;
}
