.navBarAdmin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #213447;
    color: white;
    font-size:1.7rem;
    margin-bottom: 2%;
}

.logoNavAdmin img{
    width: 20%;
}

.navBarAdmin_right {
display: flex;
}

button {
    background-color: #213447;
    border: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    margin-bottom: 2%;
    font-size: 1.5rem;
}
