*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    color: rgba(255, 255, 255, 0.747);

}
.icon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 15px;
    cursor: pointer;
}
.nav_barra{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px 4px 10px ;
}
.recherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}
.logo_nav{
    display: flex;
    justify-content: flex-start;

}
nav {
    background-color: #213447;
    
}
nav img{
    width: 20.5px;
    height: 20.5px;
    padding: 0.5px;
    
}
.logo{
    width: 32.5px;
    height: 32.5px;
}

.recherche input {
    width: 340px;
    height: 31px;
    border-radius: 5px 0 0 5px;
}
nav li{
    display: inline-block;
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration:none;   
    padding: 15px;
    display: inline-block;
}

nav li a :hover{
    color: white;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.menu_ul{
    display: none;
}


@media screen and (max-width: 1440px) {
    h1 {
        font-size: 3.5rem;
    }

    .header {
        height: 500px;
    }
}


@media screen and (min-width: 1440px) {
    h1 {
        font-size: 4rem;
    }

    .header {
        height: 550px;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    .header {
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.75rem;
    }

    .header {
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    .header {
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
    font-size: 2rem;
    }

    .header {
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
            h1 {
            font-size: 1.5rem;
            }

            .header {
            height: 150px;
            }
        }