*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    color: rgba(255, 255, 255, 0.747);

}
.icon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 15px;
    cursor: pointer;
}
.nav_barra{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px 4px 10px ;
}
.recherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    width: 500px;
    margin: 0 10px 0 10px;
}
.logo_nav{
    display: flex;
    justify-content: flex-start;

}
nav {
    background-color: #213447;
    
}
nav img{
    width: 20.5px;
    height: 20.5px;
    padding: 0.5px;
    
}
.logo{
    width: 32.5px;
    height: 32.5px;
}
.page_name{
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.recherche input {
    width: 100%; /* Largura total dentro do seu contêiner */
    max-width: 900px; /* Largura máxima da barra de pesquisa */
    /* Outros estilos */
    height: 31px;
    border-radius: 5px 0 0 5px;
}

.loupe{
    text-decoration: ;
}
nav li{
    display: inline-block;
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration:none;   
    padding: 15px;
    display: inline-block;
}

nav li a :hover{
    color: white;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.menu_ul{
    display: none;
    border-top: solid white 20px;
}
.menu_genre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 20px;
}

.menu_fixe{
    display: flex;
    justify-content:center;
    width: 100%;
}
.ligne_separe{
    border-bottom: solid #ffffff 2px;
}

.bt_retour{
    color: rgb(255, 255, 255);
    text-decoration:none;   
    padding: 15px;
    display: inline-block;
}
/* travaille sur le responsive */
@media screen and (max-width: 1440px) {
 
}


@media screen and (min-width: 1440px) {
 
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 600px) {
   
}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {
  
        }

        /* Estilo para telas de monitor ou maiores - mostra o menu de gêneros */
@media screen and (min-width: 1024px) {
    .menu_genre {
        /* display: flex; /*Mostra o menu de gêneros */
    }
   

    .menuBurger {
        display: none; /* Continua ocultando o ícone do menu hambúrguer */
    }
}

/* Estilo para telas de smartphone - mostra o ícone do menu hambúrguer */
@media screen and (max-width: 1023px) {
    .menu_genre {
        /* display: none; Oculta o menu de gêneros */
    }

    .menuBurger {
        display: block; /* Mostra o ícone do menu hambúrguer */
    }
    .page_name{
        display: none;
        }
    .menu_fixe{
        display: none;
    }    
}