*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    color: rgba(255, 255, 255, 0.747);

}
.icon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.logo_nav{
display: flex;
justify-content: flex-start;
}
nav {
    background-color: #213447;
    
}
nav img{
    width: 23.5px;
    height: 23.5px;
    padding: 0.5px;
    
}
input{
    width: 50%;
}
nav li{
    display: inline-block;
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration:none;   
    padding: 15px;
    display: inline-block;
}

nav li a :hover{
    color: white;
}

.flex_col{
    display: flex;
    flex-direction: column;
}